@using BlazorTypography
@using Mytheme.Data
@inherits LayoutComponentBase

@inject SvgHelperService SvgHelperService
@inject IStyled Styled
@inject ITypography Typography


<StyledGoogleFont Name="Fira Code" Styles="400" />

<Styled>
    html {
    color: {colors.text-color};
    }
    body {
    background-color: {colors.background-color};
    color: {colors.text-color};
    }
    p {
    color: {colors.text-color};
    }
    hr {
    background-color: {colors.hr};
    }
</Styled>

<Styled>
    p > code {
    font-family: 'Fira Code', monospace;
    margin-top: 20px;
    color: {colors.code-text};
    font-weight: 400;
    line-height: 1.7em;
    background-color: {colors.code-background};
    border-radius: 0.325rem;
    margin: 0;
    padding: 0.2rem 0.325rem;
    }
    code {
    line-height: 1.25em;
    }
    pre {
    line-height: 1.25em;
    }
    h1 {
    margin-top: 0px;
    }
</Styled>

<Styled @bind-Classname="@icon">
    width: 28px;
    height: 28px;
    fill: #f00;
</Styled>

<Styled @bind-Classname="@menuIcon">
    fill: #f00;
</Styled>

<Styled @bind-Classname="@topNav">
    width: 100%;
    background-color: #555;
    overflow: auto;

    & a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    }

    & a:hover {
    background-color: #000;
    }

</Styled>

<Styled Classname="@topNav" MediaQuery="MediaQueries.LargerThanTablet">
    a {
    float: none;
    display: block;
    }
</Styled>

<Styled @bind-Classname="@container">
    label: container;
    margin: auto;
</Styled>

<Styled Classname="@container" MediaQuery="MediaQueries.LargerThanTablet">
    width: 1024px;
    display: flex;
</Styled>

<Styled @bind-Classname="@navColumn" MediaQuery="MediaQueries.LargerThanTablet">
    label: nav-column;
    @column
    flex-shrink: 0;
    position: fixed;
    width: 225px;
</Styled>

<Styled @bind-Classname="@mainColumn" MediaQuery="MediaQueries.LargerThanTablet">
    label: main-column;
    @column
    width: 876px;
    margin-left: 225px;
</Styled>

<Styled @bind-Classname="@bottom">
    label: content;
    padding: 20px;
</Styled>

<Styled Classname="@bottom" MediaQuery="MediaQueries.LargerThanTablet">
    flex-grow: 1;
</Styled>

<Styled @bind-Classname="@main" MediaQuery="MediaQueries.LargerThanTablet">
    margin-top: 10px;
</Styled>

<Styled @bind-Classname="@brand">
    label: brand;
    margin: 0;
    margin-left: 16px;
    padding: 0;
    font-size: 24px;
    color: {color.brand};
</Styled>

<Styled @bind-Classname="@ul">
    label: nav-ul;
    display: inline-flex;
    list-style: none;
    margin: 0;
</Styled>

<Styled @bind-Classname="@li">
    label: nav-li;
    margin-right: 20px;
</Styled>

<div class="@topNav">
    <a>@SvgHelperService.GetMenu(26, "fill: white")</a>
    <a class="active" href="#"> Home</a>
    <a href="#"> Search</a>
    <a href="#"> Contact</a>
    <a href="#"> Login</a>
</div>


        <div>
            @Body
        </div>


@code {
    private string icon, menuIcon, container, navColumn, mainColumn, topNav, bottom, brand, ul, li, main;

    private string column = @"
height: 100%;
display: flex;
flex-direction: column;
";

    protected override async void OnInitialized()
    {
        var theme = new BlazorTypography.Themes.Sutro();
        Typography.ApplyTypography(theme);

        //Setup default theme
        Styled.SetThemeValue("colors.background-color", "#F8F6ED");
        Styled.SetThemeValue("colors.brand", "#727D71");
        Styled.SetThemeValue("colors.link-color", "#974442");
        Styled.SetThemeValue("colors.link-active-color", "#727D71");
        Styled.SetThemeValue("colors.text-color", "#333333");
        Styled.SetThemeValue("colors.code-background", "#263238");
        Styled.SetThemeValue("colors.code-text", "#C792EA");
        Styled.SetThemeValue("colors.hr", "#974442");
    }
}
