@inject IStyled Styled
@inject NavigationManager NavigationManager

<Styled @bind-Classname="@ul">
    display: inline-flex;
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: 0.2em;
</Styled>

<Styled @bind-Classname="@link">
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: {colors.link-color};
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    &:hover {
    color: {colors.link-active-color};;
    }
</Styled>

<Styled>
    .active {
    color: {colors.link-active-color};
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    }
</Styled>

<Styled @bind-Classname="@h3nav">
    margin-top: 0px;
    margin-bottom: 0.25em;
</Styled>

<Styled @bind-Classname="@nav" MediaQuery="MediaQueries.Tablet">
    display: none;
</Styled>

<Styled @bind-Classname="@hiddenOnSmall" MediaQuery="MediaQueries.Tablet">
    display: none;
</Styled>

<Hamburger OnClick="@MyOnClick" @ref="hamburger" />

<nav class="@nav">
    <h3 class="@h3nav">Getting Started</h3>
    <ul class="@ul">
        <li>
            <NavLink class="@link" href="index" Match="NavLinkMatch.All">
                Introduction
            </NavLink>
            <NavLink class="@link" href="counter">
                Create
            </NavLink>
        </li>
    </ul>
    <h3 class="@h3nav">Data Management</h3>
    <ul class="@ul">
        <li>
            <NavLink class="@link" href="add-table">
                Add Table
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    private string ul, link, h3nav, hiddenOnSmall, nav;
    private bool _open = false;
    private Hamburger hamburger;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
    }

    private void MyOnClick(MouseEventArgs e)
    {
        _open = !_open;
        nav = _open ? string.Empty : hiddenOnSmall;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        _open = false;
        nav = hiddenOnSmall;
        StateHasChanged();
    }
}
