@page "/add-table"
@using System.IO
@using Blazor.FileReader
@using Mytheme.Dal.Dto
@using Mytheme.Data
@using Mytheme.Modals

@inject IStyled Styled
@inject RandomTableService RandomTableService
@inject FileHandlerService FileHandlerService
@inject IFileReaderService FileReaderService
@inject IModalService ModalService


<Styled>
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    label {
    width: 100%;
    margin: 8px 0;
    display: block;
    }

    textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
</Styled>

<Styled @bind-Classname="@form">
    display:block;0
    margin-bottom: 10px;
</Styled>

<Styled @bind-Classname="@dropTarget">
    display:block;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px dashed black;
    border-radius: 5px;
</Styled>

<Styled @bind-Classname="@dropTargetDrag">
    border-color: orangered;
    font-weight: bold;
</Styled>

<Styled @bind-Classname="@dropArea" Compose1="@dropTarget" Compose2="@dropTargetDrag" Compose2If="@dragging" />

<Styled @bind-Classname="@loading">
    align: center;
    color: black;
</Styled>


<EditForm Model="@table" class="@form" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="name">Name: </label>
    <InputText id="name" @bind-Value="table.Name" />

    <label for="category">Category: </label>
    <div>
        <InputSelect id="classification" @bind-Value="table.Category">
            <option value="">@categoryText</option>
            @foreach (var cat in categories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
        <button type="button" class="btn btn-primary" @onclick="@OpenCategoryModal">+</button>
    </div>

    <label for="desc">Description: </label>
    <InputTextArea id="desc" @bind-Value="table.Description"></InputTextArea>
    <button type="Submit" class="btn btn-primary">Save Table</button>
</EditForm>

<div class="@dropArea"
     @ref=dropTargetElement
     @ondrop=OnDrop
     @ondragenter=OnDragEnter
     @ondragleave=OnDragLeave>
    @fileName
</div>


@if (entries == null)
{
    <div>
        <p class="@loading"><em>@loadingText</em></p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0 + page * perPage; i < entries.Length && i < (page + 1) * perPage; i++)
            {
                <tr>
                    <td>@entries[i]</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

   

    private int page = 0;

    private int perPage = 50;

    // css class names
    private string form, dropArea, dropTarget, dropTargetDrag, loading;

    // css attributes


    private bool dragging;

    private string fileName = "Drop Files here.";
    private string categoryText = "Loading...";
    private string loadingText = "";

    string[] entries;
    List<string> categories = new List<string>();

    RandomTable table = new RandomTable();

    List<IFileInfo> FileList { get; } = new List<IFileInfo>();

    ElementReference dropTargetElement;
    IFileReaderRef dropReference;

    protected override async Task OnInitializedAsync()
    {
        categories = await RandomTableService.GetCategories();
        categoryText = "Select category ...";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            dropReference = FileReaderService.CreateReference(dropTargetElement);
            await dropReference.RegisterDropEventsAsync();
        }
    }

    protected void OpenCategoryModal()
    {
        ModalService.Show<AddCategoryModal>("Add Category");
    }
    
    protected async Task HandleValidSubmit()
    {
        await SaveTable();
    }

    protected async Task SaveTable()
    {
        var result = await RandomTableService.AddRandomTable(table);
        if (result.success)
        {
            loadingText = "Saved!";
        }
        else
        {
            loadingText = result.result;
        }
        table = new RandomTable();
        entries = null;

    }

    public void OnDragEnter(EventArgs e)
    {
        dragging = true;
    }

    public void OnDragLeave(EventArgs e)
    {
        dragging = false;
    }

    public async Task OnDrop(EventArgs e)
    {

        dragging = false;
        this.StateHasChanged();
        await this.RefreshFileList();
        await TryParesFile();
    }

    private async Task RefreshFileList()
    {
        FileList.Clear();
        foreach (var file in await dropReference.EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            FileList.Add(fileInfo);
        }

        fileName = FileList.FirstOrDefault()?.Name;

        StateHasChanged();
    }

    private async Task TryParesFile()
    {
        loadingText = "Loading...";
        foreach (var file in await dropReference.EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            if (fileInfo.Name == fileName)
            {
                await using var fs = await file.OpenReadAsync();
                await using var ms = new MemoryStream();
                await fs.CopyToAsync(ms);

                entries = await FileHandlerService.ParseTableFile(ms);

            }
        }
    }

}
