@page "/"
@using Mytheme.Dal.Dto
@using Mytheme.Services
@using Mytheme.Services.Interfaces
@using Mytheme.Slider.Models

@inject BreadcrumbService BreadcrumbService
@inject ISectionService SectionService

<Styled @bind-Classname="@body">
    position: relative;
    width: 100%;
    height: 100%;
</Styled>

<Styled @bind-Classname="@campaignSelector">
    background: lightblue;
    position: absolute;
    height: 70%;
    width: 100%;
    bottom: 0;
</Styled>

<Styled @bind-Classname="@row">
    display: flex;
    height: 100%;
</Styled>

<Styled @bind-Classname="@columnLeft">
    width: 256px;
    height: 100%;
</Styled>

<Styled @bind-Classname="@columnRight">
    flex-grow: 1;
    height: 100%;
</Styled>

<Styled @bind-Classname="@subRow">
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    & img {
    width: 100px;
    height: 100px;
    margin: auto;
    }
</Styled>

<Styled @bind-Classname="@subColumnUpper">
    margin: auto;
    flex-grow: 1;
    width: 100%;
</Styled>

<Styled @bind-Classname="@subColumnLower">
    height: 100px;
    width: 100%;
</Styled>

<Styled @bind-Classname="@button">
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
</Styled>


<Styled @bind-Classname="@buttonLabel">
    margin: 0;
    width: 100%;
    text-align:center;
    overflow-wrap: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
</Styled>



<div class="@body">
    <div>
        <h1>Mytheme</h1>
        /ˈmɪθiːm/ (noun) a set of fundamental generic units of narrative structure from which myths are thought to be constructed.
    </div>
    <div class="@campaignSelector">
        <div class="@row">
            <div class="@columnLeft" style="background-color:#aaa;">
                <div class="@subRow">
                    <div class="@subColumnUpper" style="background-color:#aa0;">
                        <a href=""><img src="/images/new_campaign.png" /></a>
                    </div>
                    <div class="@subColumnLower" style="">
                        <a class="@button" href="section">
                            <div class="@buttonLabel">New Campaign</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="@columnRight" style="background-color:#bbb;">
                <ul>
                    @foreach (var campaign in campaigns)
                    {
                        <li>
                            <div class="@campaignEntry">
                                <div>
                                    Icon
                                </div>
                                <div>
                                    @campaign.Name
                                    <span id="created">@campaign.DateCreated.ToShortDateString()</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code
{
    private string body, campaignSelector, row, columnLeft, columnRight, subRow, subColumnUpper, subColumnLower, dummy, imgContainer, centerer;

    private string campaignEntry, button, buttonLabel;

    private List<Section> campaigns = new List<Section>();



    protected override async Task OnInitializedAsync()
    {
        campaigns = (await SectionService.GetAllCampaignsAsync()).Result.ToList();

        campaigns.Sort((x, y) => string.Compare(x.Name, y.Name, StringComparison.Ordinal));

        BreadcrumbService.SetBreadCrumb("");
        BreadcrumbService.NavBarButtons.Clear();
    }

}
