@page "/"
@using Mytheme.Services
@using Mytheme.Slider.Models

@inject BreadcrumbService BreadcrumbService

<Styled @bind-Classname="@body">
    position: relative;
    width: 100%;
    height: 100%;
</Styled>

<Styled @bind-Classname="@campaignSelector">
    background: lightblue;
    position: absolute;
    height: 70%;
    width: 100%;
    bottom: 0;
</Styled>

<Styled @bind-Classname="@row">
    display: flex;
    height: 100%;
</Styled>

<Styled @bind-Classname="@columnLeft">
    width: 120px;
    height: 100%;
</Styled>

<Styled @bind-Classname="@columnRight">
    flex-grow: 1;
    height: 100%;
</Styled>

<Styled @bind-Classname="@subRow">
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
</Styled>

<Styled @bind-Classname="@subColumn">
    margin: auto;
    flex: 50%;
    width: 100%;
    position: relative;
    & img {
        width: 100px;
        height: 100px;
        margin: auto;
    }
</Styled>




<div class="@body">
    <div>
        <h1>Mytheme</h1>
        /ˈmɪθiːm/ (noun) a set of fundamental generic units of narrative structure from which myths are thought to be constructed.
    </div>
    <div class="@campaignSelector">
        <div class="@row">
            <div class="@columnLeft" style="background-color:#aaa;">
                <div class="@subRow">
                    <div class="@subColumn" style="background-color:#aa0;">
                        <a href=""><img src="/images/new_campaign.png" /></a>
                    </div>
                    <div class="@subColumn" style="">
                        <a href="section"><img src="/images/new_campaign.png" /></a>
                    </div>
                </div>
            </div>
            <div class="@columnRight" style="background-color:#bbb;">right</div>
        </div>
    </div>
</div>

@code
{
    private string body, campaignSelector, row, columnLeft, columnRight, subRow, subColumn, dummy, imgContainer, centerer;

    private List<SliderEntry> entries;

    protected override void OnInitialized()
    {
        entries = new List<SliderEntry>
{
            new SliderEntry
            {
                Name = "Test",
                BackgroundImageUrl = "/images/new_campaign.png"
            }
        };
        BreadcrumbService.SetBreadCrumb("");
        BreadcrumbService.NavBarButtons.Clear();
    }

}
