@page "/templates"

@using Mytheme.ButtonGroup
@using Mytheme.Dal
@using Mytheme.Dal.Dto
@using Mytheme.Data

@inject TemplateService TemplateService
@inject NavigationManager NavigationManager
@inject BreadcrumbService BreadcrumbService

<MythemeButtonGroup Buttons="buttons"/>
<br/>
<br/>
@if (templates == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <MythemeGrid Items="templates" Context="template">
        <GridHeader>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
        </GridHeader>
        <GridRow>
            <tr @onclick="@(() => NavigationManager.NavigateTo($"edit-template/{template.Id}"))">
                <td>@template.Name</td>
                <td>@template.Category</td>
                <td>@template.Description</td>
            </tr>
        </GridRow>
    </MythemeGrid>
}

@code {

    Template[] templates;
    List<ButtonOptions> buttons;

    private string loadingText = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.SetBreadCrumb("Templates");

        buttons = new List<ButtonOptions>
        {
            new ButtonOptions("Add Template", () => NavigationManager.NavigateTo($"edit-template")),
            new ButtonOptions("Import Template", null)
        };

        var result = await TemplateService.GetAllTemplates();

        if (result.Status == DalStatus.Success)
        {
            templates = result.Result;
        }
    }
}