@page "/templates"

@using Mytheme.Data
@using Mytheme.Data.Dto
@using Mytheme.Models
@using Mytheme.Services
@using Mytheme.Services.Interfaces

@inject ITemplateService TemplateService
@inject IModalService ModalService
@inject NavigationManager NavigationManager
@inject BreadcrumbService BreadcrumbService

@if (templates == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <Grid Items="templates" Context="template">
        <GridHeader>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
        </GridHeader>
        <GridRow>
            <tr @onclick="@(() => NavigationManager.NavigateTo($"edit-template/{template.Id}"))">
                <td>@template.Name</td>
                <td>@template.Category</td>
                <td>@template.Description</td>
            </tr>
        </GridRow>
    </Grid>
}

@code {

    Template[] templates;

    private string loadingText = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        var buttons = new List<NavBarButton>();

        buttons.Add(new NavBarButton("Add Template", SvgName.Add, AddTemplate));
        buttons.Add(new NavBarButton("Import Template", SvgName.Import, ImportTemplate));

        BreadcrumbService.SetNavBarButtons(buttons);

        BreadcrumbService.ClearHistory();
        BreadcrumbService.SetBreadCrumb("Templates", new NavigationLink(Guid.Empty, ViewType.Templates), true);

        var result = await TemplateService.GetAllTemplates();

        if (result.Status == DalStatus.Success)
        {
            templates = result.Result;
        }
    }

    
    private void AddTemplate()
    {
        NavigationManager.NavigateTo($"edit-template");
    }

    private void ImportTemplate()
    {
        ModalService.ShowInfoModal($"Not Implemented", "Need moar code, dummy.");
    }
}