@page "/templates"

@using Mytheme.Dal
@using Mytheme.Dal.Dto
@using Mytheme.Data

@inject RandomTableService RandomTableService
@inject NavigationManager NavigationManager
@inject BreadcrumbService BreadcrumbService

@if (tables == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <MythemeGrid Items="tables" Context="table">
        <GridHeader>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
        </GridHeader>
        <GridRow>
            <tr @onclick="@(() => NavigationManager.NavigateTo($"edit-table/{table.Name}"))">
                <td>@table.Name</td>
                <td>@table.Category</td>
                <td>@table.Description</td>
            </tr>
        </GridRow>
    </MythemeGrid>
}

@code {
    RandomTable[] tables;

    private string loadingText = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.SetBreadCrumb("Templates");
        var result = await RandomTableService.GetAllRandomTables();

        if (result.Status == DalStatus.Success)
        {
            tables = result.Result;
        }
    }
}